*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}

html, body{
    height: 100%;
    width: 100%;
    background: #fff;
    color: #333;
}

header{
    width: 100vw;
    position: relative;
    top: 0;
    background-color: #f5f5f5;
    transition: all ease 0.5s;

/* Navbar styles */
    nav{
        height: 2.5rem;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        padding: 0.5rem;
        font-size: 1rem;

        .logo{
            font-size: 1.3rem;
            color: #1b1b1b;
        }

        a{
            color: #6C6C6C;
            display: none;

            &:hover{
                color: #f0f0f0;
                transition: 0.3s;
            }
        }

        .right-icons{
            display: flex;
            gap: 2rem;
            i{
                color: #6C6C6C;
                font-weight: 500;
                font-size: 1.3rem;
            
                &:hover{
                    color: #020202;
                    transition: 0.3s;
                }
            }
        }
    }
}

main{
    height: 100%;
    width: 100%;

    .hero-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 75vh;
        background-image:  url("./images/download.jpeg");
        background-position: bottom;
        background-size: auto 60%;
        background-repeat: no-repeat;
        margin-bottom: 0.5rem;

        h2{
            font-size: 2rem;
            font-weight: 700;
            margin-top: 1.5rem;
        }

        p{
            font-size: 2rem;
            margin-bottom: 0.5rem;
            text-align: center;
            width: 50%;
        }

        button{
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border: none;
            background: #1573D3;
            border: 2px solid #1573D3;
            color: white;
            border-radius: 25px;
            cursor: pointer;
        }

        .secondary{
            background: none;
            color: #1573D3;
            margin-left: 1rem;

            &:hover{
                background: #1573D3;
                color: white;
                transition: 0.3s;
            }
        }
    }

    .iphone-air-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 75vh;
        background-image:  url("./images/iPhone-Air.jpeg");
        background-position: bottom;
        background-size: auto 45%;
        background-repeat: no-repeat;
        margin-bottom: 0.5rem;

        h2{
            font-size: 2rem;
            font-weight: 700;
            color: #222;
            margin-top: 2.5rem;
        }

        p{
            font-size: 1.3rem;
            font-weight: 500;
            color: #222;
            margin-bottom: 0.5rem;
            text-align: center;
        }

        button{
            padding: 0.5rem 1rem;;
            font-size: 1rem;
            border: none;
            background: #1573D3;
            border: 2px solid #1573D3;
            color: white;
            border-radius: 25px;
            cursor: pointer;
        }

        .secondary{
            background: none;
            color: #1573D3;
            margin-left: 1rem;

            &:hover{
                background: #1573D3;
                color: white;
                transition: 0.3s;
            }
        }
    }

    .iphone-17-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 75vh;
        background-image:  url("./images/iPhone-17.jpeg");
        background-position: bottom;
        background-size: auto 55%;
        background-repeat: no-repeat;
        margin-bottom: 0.5rem;

        h2{
            font-size: 2rem;
            font-weight: 700;
            color: #222;
            margin-top: 2.5rem;
        }

        p{
            font-size: 1.6rem;
            font-weight: 500;
            color: #222;
            margin-bottom: 0.5rem;
            text-align: center;
        }

        button{
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border: none;
            background: #1573D3;
            border: 2px solid #1573D3;
            color: white;
            border-radius: 25px;
            cursor: pointer;
        }
    }

/* collection section */
    .collective-sections{
        display: grid;
        grid-template-rows: 75vh 75vh 75vh 75vh 75vh 75vh;
        grid-template-columns: 100%;
        gap: 0.8rem;
        margin-inline: 0.5rem;

        h2{
            font-size: 2rem;
            font-weight: 700;
            color: #222;
            padding-bottom: 0.8rem;
        }

        p{
            font-size: 1rem;
            font-weight: 500;
            color: #222;
            padding-bottom: 0.8rem;
            text-align: center;
        }

        button{
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border: none;
            background: #1573D3;
            border: 2px solid #1573D3;
            color: white;
            border-radius: 1.3rem;
            cursor: pointer;
        }

        .secondary{
            background: none;
            color: #1573D3;
            margin-left: 1rem;

            &:hover{
                background: #1573D3;
                color: white;
                transition: 0.3s;
            }
        }

        img{
            width: 60%;
            padding-bottom: 0.8rem;
        }

        .icloud-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 2rem;
            height: 75vh;
            background-image:  url("./images/iCloud.jpeg");
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .watch-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 75vh;
            padding-top: 2rem;
            background-image:  url("./images/apple-Watch-Series.jpeg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .airpod-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 75vh;
            padding-top: 1rem;
            background-image:  url("./images/AirPod-Pro.jpeg");
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .ipad-air-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 75vh;
            padding-top: 2rem;
            background-image:  url("./images/apple-iPad-Air.jpeg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .trade-in-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 75vh;
            padding-top: 2rem;
            background-image:  url("./images/trade-in.jpeg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .icard-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 75vh;
            padding-top: 2rem;
            background-image:  url("./images/icard.jpeg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}